<%- include('../includes/head.ejs')%>

<div class="container-fluid w-100 h-100 mt-0  d-flex justify-content-center align-items-center">
    <div class=" col-md-6 ">
      <div class="d-flex flex-row w-100 justify-content-between">
        <h3 class="text-center align-start text-secondary">Faire la presence</h3>
      </div>
      <form action="" method="post">

      </form>
    </div>
</div>