<%- include('../includes/head.ejs')%>

<div class="container-fluid w-100 h-100 mt-5 p-5">
  <div class="mt-5 container  mx-5 pb-5">
    <h2 class="text-danger w-100 text-center">Total des présences</h2>
    <div class="row d-flex justify-content-center mt-2"> 
      <% presences.forEach(pres => { %>
      <div class="col-md-2  px-3 p-sm-1 col-sm-6">
        <div class="card bg-light m-1">
          <div class="card-body">
            <h1 class="text-center text-danger"><%= pres.count %></h1>
            <p class="card-text text-center"><%= pres.presence %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
