<%- include('../includes/head.ejs')%>

<%- include('../includes/head.ejs')%>

<div class="container-fluid h-100 w-100 d-flex flex-column justify-content-center align-items-center mb-2 p-5 bg-light">
  <!-- to display presences of the current day -->
  <div class="mt-5 container shadow-sm card mx-5 py-5">
    <h3 class="text-danger w-100 text-center"><%= student.noms %></h3>
    <p class="card-text text-center"><%= student.email %></p>
  </div>
</div>

