<%- include('../includes/header.ejs')%>
<%- include('../includes/navigation.ejs')%>
    <section class="login container-fluid w-100 mt-0 flex-column  d-flex justify-content-center align-items-center">
      <h1 class="text-danger text-xl">404</h1>
      <p>la page que vous recherchez n'existe pas</p>
    </section>
<%- include('../includes/footer.ejs')%>
