<%- include('../includes/header.ejs') %>
  <%- include('../includes/navigation.ejs')%>

    <section class="login container-fluid w-100 mt-0 d-flex justify-content-center align-items-center">
      <div class="offest-4 col-md-4">
        <div class="card bg-light shadow w-100 w-sm-80 border-danger">
          <div class="card-body">
            <h4 class="card-title text-danger">Ajouter une classe</h4>
            <form action="/myaccount/classes/all" method="post">
              <div class="form-group mt-4">
                <label for="nom">Nom</label>
                <input id="nom" class="form-control" type="text" name="nom" required />
              </div>
              <input type="hidden" name="userId" value="<%= userId %>" />
              <div class="form-group mt-4">
                <button class="btn btn-danger" type="submit">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('../includes/footer.ejs')%>