<%- include('../includes/header.ejs')%>

<body>
<section
  class="login container-fluid w-100 mt-0 flex-column d-flex justify-content-center align-items-center"
>
  <div class="limiter" id="login">
    <div
      class="container-login100"
      style="background-image: url(../images/20220531_141233.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h1 class="text-light m-0 my-4">
              ATRACK
            </h1>
            <h4 class="text-light">
              une plateforme pour mieux faire le suivi des présences des étudiants dans votre école!
            </h4>
          </div>
          <div class="col-md-5 offset-md-2">
            <div class="wrap-login100">
              <h3 class="text-center">Bienvenue !</h3>
              <p class="text-center">Connectez-vous</p>
              <form
                class="login100-form validate-form"
                method="POST"
                action="/"
              >
                <div class="wrap-input100 validate-input m-b-16">
                  <input
                    class="input100"
                    id="username"
                    type="text"
                    name="username"
                    placeholder="Nom d'utilisateur"
                  />
                </div>
                <div
                  class="wrap-input100 validate-input m-b-16"
                  data-validate="Password is required"
                >
                  <input
                    class="input100"
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Mot de passe"
                  />
                </div>
                <div class="flex-sb-m w-full p-b-30">
                  <div class="contact100-form-checkbox"></div>
                  <small>
                    <a href="#" class="txt1 text-danger text-decoration-none">
                      Mot de passe oublié?
                    </a>
                  </small>
                </div>
                <div class="container-login100-form-btn p-t-25">
                  <button type="submit" class="login100-form-btn">
                    SE CONNECTER
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../includes/footer.ejs')%>
