<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-5" href="#">Se connecter</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="container main-container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="card col-md-4">
          <div class="card-body">
            <form class="" action="">
              <h3 class="">Se connecter</h3>
              <div class="form-group mb-2 mt-3">
                <label for="username">Nom d'utilisateur</label>
                <input id="username" class="form-control" type="text" name="" />
              </div>
              <div class="form-group mb-2 mt-3">
                <label for="password">Mot de passe</label>
                <input id="password" class="form-control" type="text" name="" />
              </div>
              <div class="form-group mb-2 mt-3">
                <button class="btn btn-primary">Se connecter</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-4"></div>
      </div>
    </section>
  </body>
</html>
